# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ConsoleApplication1/.vs/ConsoleApplication1/v17/Browse.VC.opendb
ConsoleApplication1/.vs/ConsoleApplication1/FileContentIndex/65fbbd2e-80dd-46f2-a47b-1662f3de8f29.vsidx
